body, html {
    background-color:white;
    font-family: 'Inter';
}

.header {
    display: flex;
    flex-direction: row;
    background-color:#2A2C2E;;
    padding: 30px;
    border-radius: 20px;
    margin: 20px
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #2A2C2E;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    color: white;
    
}

.form-container  h1{
    font-weight: 700;
    line-height: 28px;

}

.form-section {
    display: flex;
    flex-direction: column;
    width: 711px;
}

.form-section h2 {
    font-weight: 400;
}

.form-main {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 20px;
}

.form-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.input-data {
    width:572px;
    height: 56px;
    border-radius:16px ;
    padding: 10px;
    border: none;
}

.form-checkbox {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.form-submit {
    width: 100%;
    padding:16px 28px;
    background-color: #F4CE47;
    border: none;
    border-radius:10px ;
}

@media (max-width:768px) {
    .body-container {
        display: flex;
        flex-direction: column;
    }
    .form-section {
        width:max-content;
        display: flex;
        flex-direction: column;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        

    }

    .form-container h1 {
        overflow-wrap:break-word;

    }
    .form-detail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 9px
    }

    .input-data {
        width: 400px;
    }

    .form-submit {
        width: fit-content
    }

    .checkbox-label {
        word-break:break-all;
    }


}

@media (max-width:425px) {
    .input-data {
        width: 200px
    }
}

